// ALL COLORS

$background-darker: rgb(2, 0, 33);
$background: rgb(2, 2, 44);
$background-lighter: rgb(40, 40, 66);

$white: rgb(150, 160, 160);
$grey: rgb(88, 110, 117);

$blue: rgb(63, 149, 221);

$red: rgb(220, 50, 47);
$pink: rgb(212, 81, 128);
$orange: rgb(203, 95, 22);
$yellow: rgb(140, 140, 0);
$green: rgb(40, 172, 159);
$purple: rgb(118, 113, 196);
