meta {
  -theme-interface-style: dark;
  -theme-vibrancy: false;
  -theme-accent-color: auto; }

/*
 * Window styles
 */
meta.window {
  background-color: #02022c;
  border-color: #020021; }

meta.titlebar {
  color: #96a0a0;
  background: #02022c;
  border-color: #282842; }

meta.titlebar.inactive {
  background-color: #020021; }

meta.button {
  background: #02022c;
  border: #28ac9f;
  color: #28ac9f; }

meta.button.highlighted {
  background: #28ac9f;
  border: #28ac9f;
  color: #02022c; }

meta.button.selected {
  background: #02022c;
  border: #96a0a0;
  color: #96a0a0; }

meta.button.highlighted.selected {
  background: #28ac9f;
  border: #96a0a0;
  color: #96a0a0; }

meta.button.disabled {
  background: #02022c;
  border: #586e75;
  color: #586e75; }

meta.textfield {
  background-color: #96a0a0;
  border-color: #586e75; }

meta.accent {
  color: #28ac9f; }

/*
 * Document styles
 */
meta.document {
  background-color: #02022c;
  border-color: #282842; }

/* Text */
meta.text {
  color: #96a0a0; }

meta.text.invisible {
  color: #282842; }

meta.text.selected {
  background-color: #282842; }

/* Cursor */
meta.cursor {
  background-color: #020021; }

/* Indentation Guides */
meta.indentguide {
  border-color: #282842; }

/* Gutter */
meta.gutter {
  color: #586e75; }

meta.gutter.selected {
  background-color: #282842;
  color: hsb(210, 10%, 80%); }

/*
 * Syntax styles
 */
keyword {
  color: #cb5f16; }

comment {
  color: #586e75; }

processing {
  color: #586e75; }

declaration {
  color: #586e75; }

bracket {
  color: #8c8c00; }

operator {
  color: #8c8c00; }

invalid {
  color: #dc322f; }

link {
  color: #7671c4; }

/* Values */
value.boolean {
  color: #cb5f16; }

value.null {
  color: #586e75; }

value.number {
  color: #d45180; }

value.entity {
  color: #3f95dd; }

value.symbol {
  color: #cb5f16; }

/* Identifiers */
identifier.type {
  color: #8c8c00; }

identifier.constant {
  color: #96a0a0; }

identifier.global {
  color: #cb5f16; }

identifier.variable {
  color: #3f95dd; }

identifier.property,
identifier.decorator,
identifier.function,
identifier.method {
  color: #96a0a0; }

identifier.key {
  color: #cb5f16; }

identifier.argument {
  color: #3f95dd; }

/* Strings */
string {
  color: #28ac9f; }

string.key {
  color: #96a0a0; }

string-template {
  color: #28ac9f; }

string-template.value {
  color: #96a0a0; }

regex {
  color: #dc322f; }

regex.escaped {
  color: #dc322f; }

cdata {
  color: #dc322f; }

/* Markup */
markup.heading {
  color: #dc322f; }

markup.line {
  color: #8c8c00; }

markup.bold {
  color: #96a0a0;
  font-weight: bold; }

markup.italic {
  color: #96a0a0;
  font-style: italic; }

markup.strikethrough {
  color: #586e75; }

markup.list.item {
  color: #cb5f16; }

markup.code {
  color: #28ac9f; }

/* Types */
definition.class class.name,
definition.type type.name,
definition.package package.name,
definition.enum enum.name,
definition.union union.name,
definition.struct struct.name {
  font-weight: bold;
  color: #8c8c00; }

/* Members */
definition.property property.name,
definition.function function.name,
definition.method method.name {
  color: #96a0a0; }

/* Tags */
tag {
  color: #3f95dd; }

tag.framework {
  color: #586e75; }

tag.attribute.name {
  color: #96a0a0; }

tag.attribute.value {
  color: #28ac9f; }

tag.attribute.value.link {
  color: #7671c4; }

/* Styles */
style {
  color: #96a0a0; }

style.at {
  color: #cb5f16;
  font-weight: bold; }

style.selector.element {
  font-weight: bold;
  color: #96a0a0; }

style.selector.identifier.id {
  color: #dc322f; }

style.selector.identifier.class {
  color: #96a0a0; }

style.selector.pseudoclass {
  color: #8c8c00; }

style.selector.pseudoelement {
  color: #8c8c00; }

style.attribute.name {
  color: #cb5f16; }

style.value.number {
  color: #d45180; }

style.value.color.hex {
  color: #3f95dd; }

style.value.keyword {
  color: #8c8c00; }

style.value.color.named {
  color: #8c8c00; }
